<div class="wrapper-login">
  <div class="login">
    <div class="left-login">
      <div class="left-login--header">
        <img src="assets/images/login/lightning-3120_512%20(1).gif" alt="Logo" class="image-logo">
      </div>
      <div class="left-login--body">
        <h2 class="description-login">¡Bienvenido!</h2>
        <form class="login-form" autocomplete="off" [formGroup]="loginForm">
          <div class="form-group">
            <label for="idusername" class="form-label">Usuario</label>
            <input id="idusername" type="text" appMessageErrors formControlName="username" placeholder="Nombre de usuario" class="form-input">
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Contraseña</label>
            <input id="password" type="password" appMessageErrors formControlName="password" placeholder="Contraseña" class="form-input">
          </div>
<!--          <p class="new-user">¿Aún no tienes una cuenta? <span routerLink="/register">Crea una</span></p>-->
          <button type="button" class="btn btn-primary" (click)="sendLoginAuth()">Iniciar sesión</button>
        </form>
      </div>
    </div>
<!--    <img src="assets/images/login/pexels-fauxels-3184451.jpg" alt="Espacio" class="image-right-login">-->
  </div>
</div>
