/* Establece un estilo general para el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Color de fondo del cuerpo */
}

/* Estilos para el contenedor principal del formulario de inicio de sesión */
.wrapper-login {
  width: 100%;
  max-width: 2200px; /* Ancho máximo aumentado para el contenedor del formulario */
  padding: 40px; /* Aumenta el padding para más espacio */
  box-sizing: border-box; /* Asegura que el padding no incremente el ancho total */
}

/* Estilos para el contenedor interno del formulario de inicio de sesión */
.login {
  display: flex;
  flex-direction: column; /* Cambia a columna para ocupar más espacio vertical */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* Color de fondo del contenedor del formulario */
}

.left-login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.left-login--header {
  margin-bottom: 30px;
}

.image-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-login--body {
  text-align: center;
}

.description-login {
  font-size: 36px; /* Aumenta el tamaño de la fuente del título */
  margin-bottom: 30px; /* Ajusta el espacio inferior */
  color: #333333;
  font-weight: bold;
}

.login-form {
  width: 100%;
  max-width: 1000px; /* Aumenta el máximo ancho del formulario */
  margin: 0 auto; /* Centra el formulario dentro del contenedor */
}

.form-group {
  margin-bottom: 30px; /* Aumenta el espacio entre grupos de formulario */
}

.form-label {
  display: block;
  font-size: 18px; /* Aumenta el tamaño de la fuente de las etiquetas */
  margin-bottom: 10px; /* Ajusta el espacio inferior */
  color: #555555;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 16px; /* Aumenta el padding de los campos de entrada */
  font-size: 18px; /* Aumenta el tamaño de la fuente de los campos de entrada */
  border: 1px solid #cccccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: #007bff;
  }
}

.new-user {
  font-size: 16px; /* Ajusta el tamaño de la fuente de la frase */
  margin-top: 20px; /* Aumenta el espacio superior */
}

.new-user span {
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
}

.btn {
  display: block;
  width: 100%;
  padding: 16px; /* Aumenta el padding del botón */
  font-size: 18px; /* Aumenta el tamaño de la fuente del botón */
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}
