<div class="wrapper-table">
  <div class="top-table">
    <div class="content-left">
      <div class="search-group">
        <input autocomplete="off" class="search-input" placeholder="Búsqueda rápida">
        <label><em class="icon-search"></em></label>
      </div>
    </div>
    <div class="content-right">
      <div class="actions-group">
        <button class="button-action" (click)="addItem()">
          <span> {{ buttonActionName }}</span> <em class="icon-plus"> </em>
        </button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th *ngFor="let column of tableColumns">{{ column.name }}</th>
        <th>{{ rowActionName }}</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="tableData.length > 0; else noDataTemplate">
        <tr *ngFor="let element of tableData">
          <ng-container *ngFor="let tableColumn of tableColumns">
            <td *ngIf="tableColumn.type !== 'image'">{{ element[tableColumn.key] }}</td>
            <td *ngIf="tableColumn.type === 'image'">
              <img [src]="element[tableColumn.key]" alt="Imagen de {{ tableColumn.name }}" width="50">
            </td>
          </ng-container>
          <td class="container-buttons">
            <button *ngIf="action.edit" (click)="editItem(element);" class="btn-actions">
              <em class="icon-pencil-f"></em>
            </button>
            <button *ngIf="action.delete" (click)="deleteItem(element);" class="btn-actions">
              <em class="icon-trash"></em>
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #noDataTemplate>
        <tr>
          <td [attr.colspan]="tableColumns.length + 1" style="border-right: 2px solid #ff82ae">
            <span class="no-data"> <em class="icon-info" style="padding-right: 10px;"></em> No hay productos. </span>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
</div>
