body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #f0f0f0;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h3 {
  color: #00c6ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.wrapper-table {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

.table-container {
  position: relative;
  width: 90%;
  min-height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .customers-table {
    width: 100%;
    border: 1px solid #cbbbbb;
    border-radius: 6px;
    border-collapse: collapse;

    th, td {
      padding: 10px;
      border: 1px solid #cbbbbb;
      text-align: left;
      height: 30px;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    th {
      background-color: #f4f4f4;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      vertical-align: middle;
    }

    .payment-icon {
      width: 24px;
      margin-right: 5px;
      vertical-align: middle;
    }

    .category {
      display: inline-block;
      padding: 4px 8px;
      margin: 2px;
      background-color: #e0e0e0;
      border-radius: 12px;
      font-size: 12px;
    }

    .progress-bar {
      width: 100%;
      background-color: #e0e0e0;
      border-radius: 8px;
      overflow: hidden;

      .progress {
        height: 8px;
        background-color: #3b82f6;
        border-radius: 8px;
      }
    }

    button {
      margin-right: 5px;
      padding:6px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;

      &:nth-child(1) {
        background-color: #4caf50;
        color: #fff;
      }

      &:nth-child(2) {
        background-color: #f44336;
        color: #fff;
      }
    }
  }

  .table-pagination{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/*table {*/
/*  width: 80%;*/
/*  border-collapse: collapse;*/
/*  margin: 20px 0;*/
/*  background-color: rgba(0, 0, 0, 0.6);*/
/*  border-radius: 10px;*/
/*  overflow: hidden;*/
/*  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);*/
/*}*/

/*th, td {*/
/*  padding: 15px 20px;*/
/*  text-align: left;*/
/*  border-bottom: 1px solid #444;*/
/*}*/

/*th {*/
/*  background-color: #00c6ff;*/
/*  color: #1a1a1a;*/
/*}*/

/*tbody tr:nth-child(even) {*/
/*  background-color: rgba(255, 255, 255, 0.1);*/
/*}*/

/*tbody tr:hover {*/
/*  background-color: rgba(0, 198, 255, 0.2);*/
/*}*/

button {
  background-color: #04f4cb; /* Neon purple */
  color: #ffffff; /* White */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 0 0 10px rgb(0, 253, 203); /* Neon glow */
}

button:hover {
  background-color: #00fdcb; /* Neon purple */
  transform: scale(1.05);
}

form {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #00c6ff; /* Neon purple */
  font-weight: bold;
}

input {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #00c6ff; /* Neon purple */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1); /* Neon purple with transparency */
  color: #ffffff; /* White */
  font-size: 1rem;
  outline: none;
}

input[type="submit"] {
  background-color: #00c6ff; /* Neon purple */
  color: #ffffff; /* White */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 198, 255, 0.5); /* Neon glow */
}

input[type="submit"]:hover {
  background-color: #00fdcb; /* Neon purple */
  transform: scale(1.05);
}
