<div class="wrapper-product-edit">
  <span class="title-product">{{ data ? '¡Edita tu producto!' : '¡Registra tu producto!' }}</span>
  <span class="description-product">
    {{
      data ? '¡Hola! Puedes crear este producto para actualizar su información, cambiar el precio, modificar ' +
        'las imágenes o ajustar las descripciones fácilmente.' : '¡Hola! Agrega un nuevo producto fácilmente llenando la ' +
        'información, subiendo una imagen y estableciendo el precio. ¡Es rápido y sencillo!'
    }}
  </span>
  <div class="form-and-image">
    <form class="grid" autocomplete="off" [formGroup]="productForm">
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label" for="nombre">Nombre del producto</label>
            <input id="nombre" type="text" formControlName="nombre" placeholder="Digite el nombre del producto" class="form-input">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label" for="detalle">Descripción del producto</label>
            <input id="detalle" type="text" formControlName="detalle" placeholder="Digite la descripción del producto" class="form-input">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label" for="img">URL de la imagen del producto</label>
            <input id="img" type="text" formControlName="img" placeholder="Digite la URL de la imagen del producto" class="form-input">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label" for="valor">Precio del producto</label>
            <input id="valor" type="text" formControlName="valor" placeholder="Digite el precio del producto" class="form-input">
          </div>
        </div>
      </div>
      <button class="btn btn-g" (click)="sendDataRegisterProduct()">
        {{ data ? 'Editar producto' : 'Registrar producto' }}
      </button>
    </form>
    <div class="image-of-form">
      <img src="assets/images/games-3119_512.gif" alt="foto form 1">
    </div>
  </div>
</div>
