<p>primero works!</p>

<form (ngSubmit)="enviar()">
    <div class="chat" #scroll [scrollTop]="scroll.scrollHeight">
        <ul>
            @for (m of mensajeService.mensaje; track $index) {
                <div [class]="(m.author == 'primero' ? 'mio': 'no')">
                    <span>{{ m.author}}</span>
                    <label>{{ m.mensaje}}</label>
                </div>
            }
        </ul>
    </div>
    <div>
        <input name="mensaje" [(ngModel)]="mensaje" />
        <label>Mensaje</label>
    </div>
    <button type="submit">Enviar</button>
</form>


