.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribuye los elementos uniformemente en el contenedor */
  background-image: url('/assets/neon.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
}

.flex div {
  flex: 1;
  margin: 0 10px; /* Agrega un margen entre los elementos */
  padding: 10px; /* Agrega un relleno dentro de cada elemento */
  background-color: rgba(255, 255, 255, 0.34); /* Cambia el color de fondo con transparencia */
  border: 1px solid #ccc; /* Agrega un borde */
  border-radius: 5px; /* Agrega esquinas redondeadas */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra */
}

.flex div:first-child {
  margin-left: 0; /* Elimina el margen izquierdo del primer elemento */
}

.flex div:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}
