.chat {
  height: 20em;
  overflow-y: scroll;
  padding: 100px;
}

.mio, .no {
  display: flex;
  flex-direction: column;
  max-width: 60%; /* Limita el ancho del mensaje */
  margin-bottom: 10px; /* Espacio entre los mensajes */
  border-radius: 15px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.mio {
  align-items: flex-start;
  background-color: rgb(192, 192, 192);
}

.no {
  align-items: flex-end;
  background-color: aqua;
}

span {
  font-weight: bold; /* Texto en negrita */
}

label {
  margin-top: 5px; /* Espacio entre el autor y el mensaje */
}

input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 8px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Cambia el color cuando se pasa el cursor sobre el botón */
}

button[type="submit"]:active {
  transform: scale(0.95); /* Reducir ligeramente el tamaño del botón cuando se presiona */
}


